[submodule "Marcus/read_log_gaussian"]
	path = Marcus/read_log_gaussian
	url = https://github.com/CesarGuzmanLopez/read_log_gaussian
    branch = main

[submodule "Easy-rate/read_log_gaussian"]
	path = Easy-rate/read_log_gaussian
	url = https://github.com/CesarGuzmanLopez/read_log_gaussian
    branch = main



[submodule "Tunnel/CK"]
	path = Tunnel/CK
	url = https://github.com/Eduardo-Gabriel-Guzman-Lopez/Chemical-Kinetics.git
[submodule "Easy-rate/CK"]
	path = Easy-rate/CK
	url = https://github.com/Eduardo-Gabriel-Guzman-Lopez/Chemical-Kinetics.git
